name: build image
on:
  push:
    branches: [main]
jobs:
  build_and_push_docker:
    name: build docker image and push to ghcr.io
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/benjaminhae/autocommit
          #tags: |
          #  type=semver,pattern={{version}}
          #  type=semver,pattern={{major}}.{{minor}}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          #tags: ${{ steps.meta.outputs.tags }}
          platforms: 
            - linux/arm/v7
          push: true
